<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/sign.css">
        <link rel="stylesheet" type="text/css" href="css/header.css">
    </head>
    <body>
        <%- include('partials/header.ejs') %>
        <div class="container-body">
            <h1>Login</h1>
            <% if(message){ %>
                <p class="error"><%= message %></p>
            <% } %>
            <form method="POST" action="/login">
                <label for="username">email</label>
                <input type="email" id="usernam" name="email" placeholder="Enter your email">
                <label for="password">Password</label>
                <input type="password" id="passwor" name="password" placeholder="Enter your password">
                <input type="submit" value="Login">
            </form>
        </div>
    </body>
</html>
