<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sign Up</title>
        <link rel="icon" type="image/x-icon" href="favicon/favicon.ico">
        <link rel="stylesheet" type="text/css" href="css/sign.css">
        <link rel="stylesheet" type="text/css" href="css/header.css">
    </head>
    <body>
        <%- include('partials/header.ejs') %>
        <div class="container-body">
            <h1>Sign Up</h1>
            <form action="/signup" method="POST">
                <input type="text" name="name" placeholder="Username" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value="Sign Up">
            </form>
            <% if(message){ %>
                <p class="error"><%= message %></p>
            <% } %>
        </div>
    </body>
</html>
