body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container-body {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 500px;
    padding: 30px;
    text-align: left;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.container-body input[type="text"],.container-body input[type="email"],
.container-body input[type="password"] {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

.container-body input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.container-body input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    text-align: center;
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .login-box {
        width: 80%;
    }
}