*{
    /* border: 0.5px solid red */
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body{
    background-color:#e9ecec;
}

h1 {
    margin: 0px 0px 30px 0px;
    font-size: 50px;
}

.app{
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: white;
    height: 100vh;
    border-radius: 1em;
    align-items: center;
}
.pane{
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 70vw;
}

#leftPane {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    width: 50%;
    background-color: rgb(210, 209, 209);
    border-radius: 0.7em;
    overflow: scroll;
    margin: 0px 15px 0px 11px;
    flex-direction: column;
    position: relative;
}

ul{    
    list-style: none;
    margin: 35px 0px 0px 0px;
    padding: 0;
    width: 100%;
}

li{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 15px 0px 15px 5px;
    border-bottom: 0.5px solid grey;
    width: 100%;
}

span{
    flex: 1;
    width: 70%;
    word-break: break-all;
}

li:last-child{
    border-bottom: none;
}

.done-btn{
    cursor: pointer;
    height: 23px;
    width: 23px;
    margin: 5px 6px 0px 0px;
}
.edit-btn {
    font-size: 23px;
    background-color: #afaaaf00;
    color: black;
    border: 0.5px solid #80008000;
    border-radius: 5px;
    cursor: pointer;
}
.delete-btn {
    font-size: 25px;
    margin: 0 3px;
    padding: 1%;
    color: black;
    cursor: pointer;
}

#rightPane{
    display: flex;
    align-items: start;
    justify-content: space-around;
    padding: 10px;
    width: 50%;
    border-left: 1px solid black;
    
}

textarea{
    flex: 1;
    font-size: 30px;
    padding: 1%;
    border: none;
    border-radius: 5px 0  0 5px;
    resize: none;
}

textarea:focus,input:focus {
    outline: none;
}

#add-btn{
    background-color: green;
    color: white;
    border: 0.5px solid green;
    border-radius: 5px;
    font-size: 30px;
    padding: 1%;
}

#todoHeading{
    position: absolute;
    margin: -9px 0px 0px 0px;
    font-size: 50px;
    background-color: rgb(210, 209, 209);
    height: 65px
}

@media only screen and (max-width: 1000px) {
    .pane{
        flex-direction: column-reverse; 
    }

    #leftPane{
        width: 100%;
        margin: 0px;
        border-radius: 0.7em;
    }
    #rightPane{
        width: 100%;
        border-left: none;
        border-top: 1px solid black;
    }
    #todoHeading{
        position: relative;
        margin: 0px;
        align-self: center;
    }
    .app{
        margin: 0px;
        border-radius: 0;
    }
}

@media only screen and (max-width: 400px) {
    li{
        flex-direction: column;
        padding: 15px 5px 15px 5px;
    }
    span{
        text-align: center;
    }
    #todoHeading{
        align-self: center;
    } 
}