<div class="app">
    <div class="pane">
        <div id="leftPane">
            <p id="todoHeading">Tasks:</p>
            <ul id="todoList">
            </ul>
            </ul>
        </div>
        <div id="rightPane">
            <form method="post" enctype="multipart/form-data">
                <input style="display: none;" type="text" name="id1" id="id">
                <textarea type="text" id="addNewTodoText" name="todoText" placeholder="Add new todo" required></textarea>
                <label class="label">
                    <input  type="file" id="filepick" name="dp">
                    <span>Select a file</span>
                </label>
                <button formaction="dp" id="adbtn" type="submit" >Add</button>
                <button formaction="/update" id="upbtn" type="submit" >Update</button>
            </form>
            <button type="submit" id="add-btn" hidden>Add</button>
        </div>
    </div>
</div>
